.cont-listaProps-fav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: rgb(171, 172, 172);
}
.cont-card-lista-props-fav {
    width: 95%;
    height: auto;
    display: flex;    
    flex-wrap: wrap; /* para el orden de las CARDS */
    justify-content: center; /* eje x */
    align-items: center;
}
/* estilos btns de los tipos de props */
.cont-filtros-fav {
    width: 70%;
    display: flex;
    padding: 20px 5px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(228, 228, 230);
}
.cont-filtros-fav button {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 8px 18px;
    border: none;
    background-color: white;
    color: #025fc3;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}
.cont-filtros-fav button:hover {
    background-color: #007bff;
    color: white;
}
.cont-filtros-fav button.activo {
    background-color: #007bff;
    color: white;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.6);
}

/* responsive */
@media screen and (max-width: 1050px) {
    .cont-listaProps-fav h1{
        text-align: center;
    }
    .cont-card-lista-props-fav {
        justify-content: space-around; /* eje x */
    }
    /* estilos btns de los tipos de props */
    .cont-filtros-fav {
        width: 80%;
        height: auto;
        flex-wrap: wrap;
    }
    .cont-filtros-fav button {
        width: 90px;
        font-weight: 500;
        font-size: 14px;
        margin-top: 3px;
    }
}