.cont-navbarInf{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-cont-navbarInf{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* col-1 */
.col-1-navbarInf{
    display: none;
}
/* col-2 */
.col-2-navbarInf{
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* col-2-logo-navbarInf */
.col-2-logo-navbarInf{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlink-navbarInf{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* logos */
.logo-navbarInf{
    position: relative;
    width: 140px;
    height: 140px;
    top: 10px;
}
.logo-navbarInfR{
    position: relative;
    width: 100px;
    height: 80px;
    top: -15px;
}
.logo-navbarInf:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(50, 50, 50);
}
.items-nav{
    width: 90%;
}
.ul-navbarInf{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul-navbarInf > li{
    list-style: none;
    font-size: 18px;    
    color: white;
}
.navlink-navbarInf{
    text-decoration: none;
    color: white;
}
/* col-3 */
.col-3-navbarInf{
    width: 5%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}


/* responsive */
@media screen and (max-width: 900px) {
    .ul-navbarInf > li{
        font-size: 15px;
    }
}
@media screen and (max-width: 720px) {
    /* col-1 */
    .items-nav{
        display: none;
    }
    .col-1-navbarInf{
        display: flex;
    }
    .logo-navbarInfR{
        position: relative;
        width: 100px;
        height: 80px;
        top: 0px;
    }
}

