.cont-home{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-titulo-filtros-listaProps{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEEEED;
}
.titulo-busqueda{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-filtros-props{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-filtros-home{
    width: 1230px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 25px;
}
.cont-listaProps-home{
    width: 1300px;
    min-height: 709px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

/* responsive */
@media screen and (max-width: 760px) {
    .cont-filtros-props{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cont-filtros-home{
        width: 90%;
        border-radius: 10px;
    }
    .titulo-busqueda{
        font-size: 17px;
    }
}
@media screen and (max-width: 400px) {
    .cont-listaProps-home{
        width: 90%;
    }
}