.wrapper-similares {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: rgb(251, 249, 249);
}

.contListaPsimilares {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  scroll-snap-type: x mandatory;
}

.contListaPsimilares::-webkit-scrollbar {
  height: 8px;
}

.contListaPsimilares::-webkit-scrollbar-thumb {
  /* background-color: #ccc; */
  border-radius: 4px;
}

.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.9);
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 18px;
  z-index: 2;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.flecha.izquierda {
  left: 0;
}

.flecha.derecha {
  right: 0;
}
