.navbar {
    position: fixed;
    top: 0;
    left: 0; /* si quiero nav fija */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    z-index: 100;
    background-image: url('../../Images/Textura-04.jpg');
    background-size: cover;
    background-position: center;
}

/* Responsive: navbar fija en móviles */
@media screen and (max-width: 500px) {
    .navbar {
        position: fixed; /* Se mantiene fija en móviles */
        background-image: url('../../Images/Textura-04.jpg');
        background-size: cover;
        background-position: center;
        top: 0;
        left: 0;
        width: 100vw; /* Se asegura de ocupar todo el ancho */
    }

    /* Corrige el desbordamiento horizontal */
    body {
        overflow-x: hidden;
    }
}
