.cont-navbarSup{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(56, 56, 56); */
}
.sub-cont-navbarSup{
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.cont-navbarSup__tel,
.cont-navbarSup__email{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.a-email-navSup{
    text-decoration: none;
}
.p-tel-navSup{
    color: white;
    font-size: 15px;
    margin: 0 0 0 5px;
}

/* responsive */
@media screen and (max-width: 660px) {
    .p-tel-navSup{
        font-size: 12px;
    }
}
@media screen and (max-width: 450px) {
    .cont-navbarSup{
        display: none;
    }
}